body {
    background-color: beige;
}
.container_12{
    background-color: white;
    text-align: center
}
img {
    box-shadow: 5px 5px 20px #888888;
    border-left-style: groove;
     border-top-style: groove;
     border-left-color: orangered;
     border-top-color: red;
    border-width:thick; 
}
.style1 {
    
    margin-top:00px;
    background-color: aqua;
    height: 100px;
}